* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    font-family: 'Raleway', sans-serif;
    /* font-family: 'Open Sans', sans-serif; */
}

body {
    background-color: hsl(218, 28%, 13%);
    color: #fff;
    font-size: 1.6rem;   
}

a {
    text-decoration: none;
    color: #fff;
}

/* Mobile view */
@media only screen and (max-width: 768px) {
    [class*="col-"] {
        width: 100%;
    }
}

/* For desktop: */
.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}

.container {
    max-width: 1440px;
    margin: 0 auto;
}

.header {
    padding: 5rem;
}


.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.navlinks {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.navlinks a {
    text-decoration: none;
    color: #fff;
}

/* section 1 */

.section-1 {
    margin: 0 auto;
    margin-bottom: 3rem;
}

.section-1__illustration {

}


.section-1__text {
    padding: 5rem;
    text-align: center;
}

.section-1__text h1 {
    font-size: 3rem;
    margin-bottom: 2rem;
    line-height: 5.5rem;
}

.n-line {
    display: block;
}

.section-1__text p {
    line-height: 3rem;
    margin: 0 auto;
}

.button {
    margin-top: 3rem;
}

.btn {
    padding: 1.5rem 7rem;
    /* background-color: yellow; */
    border-radius: 5rem;
    background-image: linear-gradient(to right, hsl(176, 68%, 64%) ,hsl(198, 60%, 50%));
}

